{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <h1>Register</h1>

    {{ form_start(registrationForm) }}
    {{ form_row(registrationForm.firstName) }}
    {{ form_row(registrationForm.lastName) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
    <div class="form-group center-block">
        <div class="col-sm-4 col-sm-offset-4">
            <label>You are:</label>
            <select name="role[name]">
                <option value="role_user">Employee</option>
                <option value="role_employer">Employer</option>
                <option value="role_hr">HR</option>
                <option value="role_admin">Admin</option>
            </select>
        </div>
    </div>
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}
