{% extends 'base.html.twig' %}

{% block title %}Create employment!{% endblock %}

{% block body %}
    {{ form_start(form) }}
    {{ form_row(form.title) }}
    {{ form_row(form.content) }}
    <a class="btn btn-default" href="{{ path('employment') }}">Cancel</a>
    <button type="submit" class="btn btn-primary">Create</button>
    {{ form_end(form) }}
{% endblock %}
